RewriteEngine On
RewriteRule ^professors/?$ professors_controller.php [NC,L]
RewriteRule ^professors/([0-9]+)/?$ professors_controller.php?id=$1 [NC,L]
RewriteRule ^professors/?$ professors_route.php [NC,L]
RewriteRule ^professors/([0-9]+)/?$ professors_route.php?id=$1 [NC,L]